.explorer-wrapper {
	width: 0;
	height: 100%;
	z-index: 2;
	background: #1e2127;
	order: 1;

	transition: 0.15s all;
	margin: 0;
	padding: 0;
	opacity: 0;
	overflow: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	ol {
		height: 100%;
		margin: 0;
		padding: 3px 0 0 0;
		font-size: 11px;
		font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;


		* {
			cursor: default;
		}
	}
	li {
		list-style-type: none;
		padding: 6px 10px;
		line-height: 10px;
		color: #9da5b4;
		white-space: nowrap;
  	overflow: hidden;
		text-overflow: ellipsis;

		.octicon-hidden {
			opacity: 0;
		}

		span {
			line-height: 10px;
		}
		span.octicon-chevron-right, span.octicon-hidden {
			font-size: 11px;
		}


		&:hover {
			color: #eee;
		}

		ol {
			border-style: none;
			padding-top: 8px;
		}
	}
	li.active {
		color: #eee;
	}
	li.expanded {

		.octicon-chevron-right:before { content:"\f0a3"; }

		ol > li {
			.octicon-chevron-right:before { content:"\f078"; }
		}

		ol > li.expanded {
			.octicon-chevron-right:before { content:"\f0a3"; }

			ol > li {
				.octicon-chevron-right:before { content:"\f078"; }
			}

			ol > li.expanded {
				.octicon-chevron-right:before { content:"\f0a3"; }
			}

		}

	}
}

.explorer-wrapper-active {
	z-index: 2;
	opacity: 1;
	width: 250px;
	transition: width 0.15s ease;
}
