* {
  box-sizing: border-box; }

body {
  margin: 0;
  background: #0c0c0c;
  color: #aaa;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace; }

textarea {
  background: #0c0c0c; }

.console {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  z-index: 91;
  background: #1e2127;
  border-top: 1px solid #111;
  bottom: -30%;
  transition: bottom 0.15s ease;
  font-size: 11px; }
  .console textarea {
    display: block;
    width: 100%;
    height: calc(100% - 20px);
    border-style: none;
    resize: none;
    color: #eee;
    background: transparent;
    border-top: 1px solid #333;
    padding: 10px;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    line-height: 1.5em;
    font-size: 11px; }
    .console textarea:focus {
      outline: none; }
  .console input {
    display: block;
    width: 100%;
    height: 20px;
    border-style: none;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    line-height: 1.5em;
    padding: 10px;
    background: rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 11px; }
    .console input:focus {
      outline: none; }

.console-visible {
  bottom: 0; }

.cmd {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 110;
  display: none; }
  .cmd .in {
    width: 440px;
    height: 380px;
    background: #171717;
    padding: 15px;
    border: 1px solid #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: fixed; }
  .cmd ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 312px;
    overflow-y: scroll;
    background: #1b1b1b;
    font-size: 11px; }
  .cmd li {
    display: block;
    width: 100%;
    padding: 9px 15px; }
    .cmd li .t {
      color: #eee; }
      .cmd li .t span {
        font-size: 11px;
        opacity: 0.5;
        padding-left: 5px; }
  .cmd li:nth-child(odd) {
    background: #191919; }
  .cmd input {
    width: 100%;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    height: 35px;
    background: #222;
    padding: 0 10px;
    display: block;
    line-height: 35px;
    font-size: 12px;
    color: #eee;
    width: 100%;
    border-style: none; }
    .cmd input:focus {
      outline: none; }
  .cmd #cmd-suggestion {
    position: absolute;
    opacity: 0.5;
    background: transparent;
    display: none; }

#viewport {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden; }

.editors {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  order: 2; }

.viewport {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5); }
  .viewport .CodeMirror {
    height: 100%;
    border-bottom: 20px solid transparent;
    font-size: 12px;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace; }
  .viewport nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    z-index: 90;
    padding: 0 10px;
    line-height: 20px;
    color: #fff;
    font-size: 11px; }
  .viewport .drop {
    display: none;
    opacity: 0; }

.active {
  opacity: 1; }

.hover {
  position: relative; }
  .hover nav {
    background: rgba(63, 63, 191, 0.75); }

.twoc #vp1 {
  width: 50%;
  border-right: 3px solid #222; }
.twoc #vp2 {
  width: 50%;
  border-left: 3px solid #222; }
.twoc #vp3, .twoc #vp4 {
  display: none; }

.threec #vp1 {
  width: 33.33%;
  border-right: 3px solid #222; }
.threec #vp2 {
  width: 33.33%;
  border-left: 3px solid #222;
  border-right: 3px solid #222; }
.threec #vp3 {
  width: 33.33%;
  border-left: 3px solid #222; }
.threec #vp4 {
  display: none; }

.fourc #vp1 {
  width: 25%;
  border-right: 3px solid #222; }
.fourc #vp2 {
  width: 25%;
  border-left: 3px solid #222;
  border-right: 3px solid #222; }
.fourc #vp3 {
  width: 25%;
  border-left: 3px solid #222;
  border-right: 3px solid #222; }
.fourc #vp4 {
  width: 25%;
  border-left: 3px solid #222; }

.twor #vp1 {
  width: 100%;
  height: 50%; }
.twor #vp2 {
  width: 100%;
  height: 50%; }
.twor #vp3, .twor #vp4 {
  display: none; }

.threer #vp1 {
  width: 100%;
  height: 33%; }
.threer #vp2 {
  width: 100%;
  height: 33%; }
.threer #vp3 {
  width: 100%;
  height: 33%; }
.threer #vp4 {
  display: none; }

.fourr #vp1, .fourr #vp2, .fourr #vp3, .fourr #vp4 {
  width: 100%;
  height: 25%; }

.fourg #vp1, .fourg #vp2, .fourg #vp3, .fourg #vp4 {
  width: 50%;
  height: 50%; }
.fourg #vp1 {
  border-right: 3px solid #222;
  border-bottom: 3px solid #222; }
.fourg #vp2 {
  border-left: 3px solid #222;
  border-bottom: 3px solid #222; }
.fourg #vp3 {
  border-right: 3px solid #222;
  border-top: 3px solid #222; }
.fourg #vp4 {
  border-left: 3px solid #222;
  border-top: 3px solid #222; }

.sixg #vp1, .sixg #vp2, .sixg #vp3, .sixg #vp4, .sixg #vp5, .sixg #vp6 {
  width: 33.33%;
  height: 50%; }
.sixg #vp1 {
  border-right: 3px solid #222;
  border-bottom: 3px solid #222; }
.sixg #vp2 {
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-bottom: 3px solid #222; }
.sixg #vp3 {
  border-right: 3px solid #222;
  border-top: 3px solid #222; }
.sixg #vp4 {
  border-left: 3px solid #222;
  border-top: 3px solid #222; }
.sixg #vp5 {
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-top: 3px solid #222; }
.sixg #vp6 {
  border-left: 3px solid #222;
  border-top: 3px solid #222; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.35); }

::-webkit-scrollbar-corner {
  background: transparent; }

.CodeMirror-dialog {
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  color: #fff;
  font-size: 11px; }

.CodeMirror-dialog-top {
  top: 0; }

.CodeMirror-dialog-bottom {
  bottom: 0; }

.CodeMirror-dialog input {
  border: none;
  outline: none;
  background: transparent;
  width: 20em;
  color: inherit;
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 11px;
  line-height: 20px;
  height: 20px; }

.CodeMirror-dialog button {
  font-size: 70%; }

/*# sourceMappingURL=style.css.map */
